html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-image: url('site3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background-color: rgb(200, 157, 244);
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    padding: 8px;
}

.container {
    width: 420px;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 0 20px purple;
    backdrop-filter: blur(8px);
    background: rgb(229, 143, 246);
}

/*body {
    text-align: center;
    background-image: url('site.jpg');
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background-color: rgb(41, 220, 184);
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mensagem {
    background-color: cadetblue;
    border: 5px;
}

.login{
    text-align: left;
    border: 2px solid black;
    padding: 80px;
    margin: 80px;
    border-radius: 20px;
    font-family: cursive;
    font-size: 20px;
    background-color: rgb(192, 44, 205);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.button{
    background-color: rgb(141, 16, 209);
    width: 100px;
    height: 30px;
    font-size: 17px;
    border-radius: 5px;
    font-family: cursive;
}

h1{
    font-style: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}

.mensagem{
    background-color: rgb(236, 71, 71);
    border-radius: 10px;
    border-color: black;
}

.categorias_listar, h1{
    border-radius: 20px;
    font-family: cursive;
    font-size: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-style: bold;
}