body {
    text-align: center;
    background-color: rgb(213, 194, 252);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background-color: rgb(41, 220, 184);
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mensagem {
    background-color: cadetblue;
    border: 5px;
}